# Docker Compose Configuration
COMPOSE_PROJECT_NAME=omniram
CURRENT_USER=0:0
DOCKER_GROUP=0

# Go Backend API Configuration

# Telegram credentials, get it from https://my.telegram.org/
API_ID=
API_HASH=

# Individual DB credentials - backend will combine these automatically
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=omnigram
DB_HOST=localhost

# Gemini needs as LLM to 
# Get key from https://aistudio.google.com/app/api-keys
GEMINI_API_KEY=

# Local embedding model
OLLAMA_URL=http://localhost:11434

# Security/Auth Configuration
# 64 hex characters (32 bytes) for AES-256 session encryption
# You can generate a valid ENCRYPTION_SECRET by running: 
# openssl rand -hex 32
# in your terminal.
# Example: b0beef359b3b3cdd87e21b8ab246488a97dd18f56d7937a28d29b62194fdd9f5
ENCRYPTION_SECRET=

# Secret for signing JWT tokens
JWT_SECRET=
